<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginForm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>437F6B3B1D717BA1008B8873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>437F6B4F1D717BA2008B8873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>437F6B5A1D717BA2008B8873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
